<!-- Container (Portfolio Section) -->
<body id="beats">
  <h1>DAILY BEATS LIVE</h1>
<br>
<h4>WATCH</h4>
<div class="row text-center slideanim">
<div class="col-sm-4">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/hTfmQEM_Ye0" frameborder="0" allowfullscreen></iframe>
</div>
<p><strong>Northern Nights Percussion Concerto by Paul Dooley</strong></p>
<p>An Orchestral Percusion Concerto with an EDM influence and VJ Light Show</p>
</div>
<div class="col-sm-4">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/hTfmQEM_Ye0" frameborder="0" allowfullscreen></iframe>
</div>
<p><strong>Northern Nights Percussion Concerto by Paul Dooley</strong></p>
<p>An Orchestral Percusion Concerto with an EDM influence and VJ Light Show</p>
</div>
<div class="col-sm-4">
<div class="thumbnail">

<div class="video-container">
<iframe src="https://www.youtube.com/embed/hTfmQEM_Ye0" frameborder="0" allowfullscreen></iframe>
</div>
<p><strong>Northern Nights Percussion Concerto by Paul Dooley</strong></p>
<p>An Orchestral Percusion Concerto with an EDM influence and VJ Light Show</p>
</div>
</div>
</div>
</div>
</body>
