

<body>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">

    <li><%= link_to "HOME", root_path %></li>
    <li><a href="#about">ABOUT</a></li>
    <li><a href="#tour">TOUR</a></li>
    <li><a href="#contact">CONTACT</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "NEWS", news_path %></li>
          <li><%= link_to "REPERTOIRE", repertoire_path %></li>
            <li><%= link_to "BEATS", beats_path %></li>
      </ul>
    </li>
    <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
  </ul>
</div>
<script>
$(document).ready(function(){onkeyup=""
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();
      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})

</script>
</body>
