
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">EVENTS</a></li>
        <li><a href="#portfolio">MUSIC</a></li>
        <li><a href="#contact">BOOK</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <h1>Solo Percussion Artist</h1>
  <p style="color: #e6ccb3; letter-spacing: 1px;">Lisa P. </p>

</div>
</div>
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About LP</h2><br>
      <h4>a;sdfjasd;lkfjalsdkfja;lskdjfa;lskdfjal;sdkfjal;sdfjala;ldkfajdsf;adjf
        </h4><br>
      <p>asdf;alskjfa;sldkjfa;lsdkfja;slkdfja;sldkfjal;skdfja</p>

    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>

<div class="container-fluid bg-grey">








<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Lisa P. Music Productions, LLC. All rights reserved  2018</p>
</footer>

</body>
