<body id="news">
  <h1>NEWS</h1>
  <!-- Container Make this into an event section  -->
  <div id="tour" class="bg-1">
    <div class="container">
      <h3 class="text-center">NEWS ARTICLES HERE</h3>


        <p class="text-center">A list of Articles <br></p>


      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">

            <%= image_tag "CityPic1.jpg", alt:"Paris" %>
            <p><strong>Paris</strong></p>
            <p>Friday 27 November 2015</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">

            <%= image_tag "CityPic1.jpg", alt:"Paris" %>
            <p><strong>New York</strong></p>
            <p>Friday 27 November 2015</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">

            <%= image_tag "CityPic1.jpg", alt:"Paris" %>
            <p><strong>San Francisco</strong></p>
            <p>Friday 27 November 2015</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
          </div>
  <br>
        </div>
      </div>
    </div>

</body>
